/* custom stuff */

div.module-grey h3, div.moduletable-grey h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #333;
	margin: -2px -8px 0 -8px;
	border-bottom: 1px solid #cdcdcd;
	padding-left: 10px;
	padding-bottom: 2px;
}

div.module-grey, div.moduletable-grey {
	background: url("../images/jos_box_grey_tl.png") 0 0 no-repeat;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

div.module-grey div, div.moduletable-grey div {
	background: url("../images/jos_box_grey_tr.png") 100% 0 no-repeat;
}

/* 20070204 */
div.module-grey div div, div.moduletable-grey div div {
	background: url("../images/jos_box_grey_bl.png") 0 100% no-repeat;
}

div.module-grey div div div, div.moduletable-grey div div div {
	background: url("../images/jos_box_grey_br.png") 100% 100% no-repeat;
	padding: 8px;
	width: auto !important;
	width: 100%;
}

div.module-grey ul, div.moduletable-grey ul {
margin: 10px 0;
padding-left: 20px;
}

div.module-grey ul li a:link, div.module-grey ul li a:visited {
	font-weight: bold;
}

div.moduletable-grey ul li a:link, div.module-greytable ul li a:visited {
	font-weight: bold;
}

div.module-grey a.mainlevel:link, div.module-grey a.mainlevel:visited  {
	background: none;
	padding-left: 0;
}

div.module-grey ul li a:hover {
}

div.moduletable-grey ul li a:hover {
}

ul.submenu ul {
	margin: 0 0 5px 0;
}

div.module-grey p {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}
