/* TestLink Open Source Project - http://testlink.sourceforge.net/ */
/* $Id: tl_doc_basic.css,v 1.1 2007/12/27 18:04:44 franciscom Exp $ */
/* Purpose: Basic schema for print documentation css */
/*******************************************************************/

body {
	font-family : 	Arial, Helvetica, sans-serif;
	font-size : 	smaller;
	padding:		15px;
}

pre{
	font-family : 	Arial, Helvetica, sans-serif;
}

/*A link is black*/
a:visited, a:link, a:active {
	color: black; 
	text-decoration: none;
} 
/*A link being hovered over is red*/
a:hover   {
	color: 			#900; 
	text-decoration: none;
	font-weight:    bold;
} 

h1 {
	text-align: 	center;
	font-size:		120%;
	margin: 		150px 20px; 
}

h2 {
	font-size:		115%;
	text-indent:	5px;
}

h3 {
	font-size:		110%;
	background: 	#CCC;
	text-indent:	10px;
}

h4 {
	font-size:		105%;
	text-indent:	15px;
}


p.important {
	font-size:		110%;
	color:			red;
	font-weight:    bold;
}


table, td, th {
	border: 1px solid black;
	border-collapse:collapse;
}

table, div {
	margin:			0px 15px;
}

th {
    font-weight:    bold;
	background:     #EEE;
	text-align:		left;
}

div.pageheader {
	border-bottom: 	1px solid grey; 
	font-size: 		110%; 
	font-weight: 	bold;
	padding: 		5px; 
}

div.pagefooter {
	border: 		1px solid grey;
	font-size: 		90%; 
}

