/* TestLink Open Source Project - http://testlink.sourceforge.net/ */
/* $Id: tl_print.css,v 1.1 2007/12/27 18:04:44 franciscom Exp $ */
/* Purpose: modify css  for print */
/* Author: Martin Havlat                                                                */
/*******************************************************************/


body, div.workBack, div.notesBox,table.notesBox, table.common, table.simple {
	background:     white;
}


div.groupBtn, div.groupBtn input, img.help, div.resultBox, div.error, .info {
	display:		none;
}

a:visited, a:link {
	color: 			black; 
	text-decoration: underline;
} 


/***** EXECUTION & RESULTS ****************************************/


.bgGreen, div.passBox {
	background:		white;
}
.bgRed, div.failBox {
	background:		white;
}
.bgBlue, div.blockedBox {
	background:		white;
}
.bgBlack, div.notRunBox {
	background:		white;
}
.bgPurple {
	background:		white;
}


/***** END *************************************************/


