## .htaccess - [TL INSTALL DIR]/cfg
# need to allow access to tl_fckeditor_config.js
# or FCKEditor will not load toolbar
Options -Indexes 
<Files ^(*.js)>
   order deny,allow
   deny from all
</Files>
