/*
@Netzulo - since 2018-08-31

Base template for >=1.9.17 versions

+ When apply this classes to any WebElement, you must put at end of class attribute
example: <h1 class="text-center anotherclass tl-class">example</h1>
*/

/*TODO: add description here*/
#tl-container {}
  
  /*TODO: add description here*/
  #tl-container #tl-header {}

  /*TODO: add description here*/
  #tl-container #tl-section {}

  /*TODO: add description here*/
  #tl-container #tl-footer {}

  /*TODO: add description here*/
  #tl-container .tl-btn {
    background-color: #003399;
  }
  /*TODO: add decription here*/
  #tl-container .tl-table {}

  /*
  * To maintain JS usability before Testlink v1.9.17
  */
  #tl-container .tab-success {
    color: #006400;
    font-weight: bold;
  }

  /*
  * To maintain JS usability before Testlink v1.9.17
  */
  #tl-container .tab-warning {
    color: #FF6600;
    font-weight: bold;
  }

  /*
  * To maintain JS usability before Testlink v1.9.17
  */
  #tl-container .tab-error {
    color: #B22222;
    font-weight: bold;
  }

  /*TODO: add description here*/
  #tl-container .tl-title {
    font-size: 20px;
    font-weight: bold;
  }

  /*TODO: add description here*/
  #tl-container .tl-text-bold {
    font-weight: bold;
  }

  /*TODO: add description here*/
  #tl-container .tl-desc {
    font-size: 10px;
    font-style: italic;
  }

  /*TODO: add description here*/
  #tl-container .tl-desc.tl-desc-warn{
    background-color: #ffffdd !important;
  }

  /*TODO: add description here*/
  #tl-container .tl-box-main {
    background-color: #f7f7ff;
    border-left: 1px solid #003399;
    border-right: 1px solid #003399;
  }

  /*TODO: add description here*/
  #tl-container .tl-box-header {
    background-color: #F4C057;
    border: 1px solid #003399;
  }

  /*TODO: add description here*/
  #tl-container .tl-box-footer {
    background-color: #ABC8EF;
    border: 1px solid #003399;
    min-height: 15px;
  }

