/* 
TestLink Open Source Project - http://testlink.sourceforge.net/ 
$Id: testlink.css,v 1.2 2007/02/05 07:54:31 franciscom Exp $ 
Purpose: main css - theme m1
                  
20060819 - franciscom - minor adjustemnts
                        changes in class names
                        div.menu -> div.menu_bar
                  
*/

body {
	background:  #EEE; /*#9BD;*/ 
	font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: small;
  margin:			0px;
}

img {
	border: 		none;
}

/* ----------------------------------------------------------------- */
/*    Title + Menu bar                                               */
div.menu_title {
	font-stretch:	wider;
	padding:		1px;
}

div.menu_bar {
	background: 	#CDE;
	background-image: url(../../icons/navbar.gif); 
	border-style:	groove;
	border-width:	thin;
	padding: 		1px 5px;
}

select.menu_combo {
	background: 	#EEE;
	border-style:	none;
	font-size:	 	smaller;
	font-weight:    bold;
}
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/*    main page                                                      */
div.vertical_menu {
	background: #EEE;
	font-size:      90%;
	margin: 		3px; 
	padding: 		2px;
	padding-bottom:	1px;
	width:			26%;
}

div.vertical_menu h2 {
	background:     #FFC;
	border-style:	none;
	color:			black;
	font-weight:    bold;
}


div.vertical_menu a {
	font-weight:    normal;
}

div.testproject_title{
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		110%;
	padding: 		2px;
}


/***** main page table *****/

table.mainTable{
	background: 	#EEE;
	border: 		1px double black;
	min-width:		200px;
}

table.mainTable td th {
	border: 		thin dotted black;
}

table.mainTable th {
	background:     #FFFFCC;
}

table.link_and_exec {
	background:     #EEE;
	border: 		1px solid black;
	margin-bottom:	10px;
	margin-right:	0px;
}


table.link_and_exec th {
	background:     #CCC;
}


/***** general styles **************************************/

/* this is obsolete - use <h1> instead of this */
div.pagetitle {
	background:		#059;
	color:			white;
	font-size:		85%;
	font-weight:    bold;
	padding: 		2px 2px 2px 5px;
	margin:			5px 0px 0px 0px;
}

/* background for working area (tables and forms) */
div.workBack {
	text-align: 	left;
	margin: 		3px;
	background: 	#CDE;
	padding: 		15px; 
	border-style:	groove;
	border-width:	thin;
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

/* for tree menu */
div.tree {
	background: 	#EEE;
	padding: 		3px;
	border: 		1px solid grey;
	margin:			2px;
	overflow: auto; /* BUGID: SF1243287 */
}

h1 {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		85%;
	margin-bottom:	4px;
	padding: 		2px;
	text-align: 	left;
}

h2 {
	font-size:		80%;
}

div.groupBtn {
/*	border-bottom: 1px solid grey; */
	padding:		0px;
}

/*
div.groupBtn input {
	background:		#059;
	color:			white;
	font-weight:    bold;
	font-size:		85%;
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, sans-serif;

	padding:		2px 11px;
	margin:			2px 5px;
}
*/

/* show results of SQL actions or important information for user */
div.error, .info {
	font-size:		110%;
	text-align:		center;
	color:			red;
	font-weight:    bold;
	padding: 		2px;
}

/* 20061229 - franciscom */
div.warning_soft
{
	text-align:		center;
	background-color: white;
	color:			red;
	font-weight:    bold;
	padding: 		2px;
}

.title {
	font-weight:    bold;
	font-size:		85%;
}

.bold {
	font-weight:    bold;
}

.italic {
	font-style: 	italic;
}

.onright {
	float: 	right;
}

/***** links to help files **************************/
img.help {
	vertical-align: top;
	float:			right;
}

/* This allows link help from text e.g. instruction
 * Using: <span class="help" onclick="javascript:open_popup('../help/glosary.html#testspec');">Test Specification</span>
 */
span.help 
{
	cursor: 		help;
	text-decoration: underline; 
}

/***** Links **************************************/

/* A Visited link is still blue */
a:visited, a:link, a:active {
	color: 			#059; 
	text-decoration: none;
} 
/* A link being hovered over is red*/
a:hover   {
	color: 			#900; 
	font-weight:    bold;
	text-decoration: none;
} 


/***** tabbed menu ***********************************/
/* add under h1 tag */

div.tabMenu {
	margin-top:		0px;
	padding:		0px 30px 10px 30px;
}

span.selected, span.unselected {
	border: 		1px solid black;
	border-top-style: none;
	font-weight:    bold;
	padding: 		5px;
}

span.selected {
	background:		#059;
	color:			white;
}

span.unselected:hover {
	background:		#BCD;
}

span.unselected a, span.unselected a:visited {
	color:    		black;
}


/***** Tables *****************************************
* 
* Standard table classes:
* 
* "common" - view tables
* "simple" - forms
* "smallGrey" - options / filters
* "invisible" - no borders
*/

table.common {
	background:     #EEE;
	border: 		1px solid black;
	margin-bottom:	20px;
	min-width:		50%;
}

table.common th {
	background:     #FFC;
	border: 		1px solid black;
	padding: 		3px;
}

table.common td, table.simple td, th{
	vertical-align: top;
}

table.common caption, table.smallGrey caption {
	background:     #CCC;
	border: 		1px solid black;
	border-bottom-style: none;
	font-weight:    bold;
}

table.simple {
	background:     #EEE;
	border: 		thin solid black;
	font-size:		90%;
	margin:			20px;
	width:			90%;
}

table.simple th {
	background:     #CCC;
	border-bottom:	1px solid black;
	padding:		2px;
}

table.simple caption {
	background:     #CCC;
	border: 		thin solid black;
	border-bottom-style: none;
	font-weight:    bold;
}


/* Used for filters and options settings */
table.smallGrey {
	background:     #EEE;
	border: 		1px solid black;
	font-size:		smaller;
	margin-bottom:	10px;
	margin-right:	0px;
}


table.invisible {
	border: 		0px none;
	font-size:		90%;
	margin:			20px;
}


/* 20060402 - franciscom */
table.exec_history {
	background:     #EEE;
	border: 		thin solid black;
	font-size:		90%;
	margin:			20px;
	width:			95%;
}

/* 20060402 - franciscom */
table.exec_history th {
	background:     #CCC;
	border-bottom:	1px solid black;
	padding:		2px;
}


/***** Special button *****/
a.tlButton {
	background:		#CDE;
	border: 		2px outset grey;
	font-weight:    bold;
	padding:		2px;
	margin:			2px;
}

a.tlButton:hover {
	background:     #EEE;
} 





/* execution boxes (result, test scenario, notes) */
div.resultBox {
	background: 	white;
	border: 		medium solid grey;
	color: 			black;
	margin: 		0px 12px 12px 12px;
	padding: 		12px;
}

textarea.tcDesc {
	background: 	white;
	border: 		medium solid grey;
}

div.notesBox,table.notesBox {
	background: 	#FFC;
	border: 		thin dashed black;
	color: 			black;
	margin: 		12px;
	padding: 		12px;
	width: 97%;
}

table.notesBox td
{
	vertical-align: top;
}

img.arrow {
	width: 			16px;
	height: 		9px;
}


pre
{
	font-family : 	Arial, Helvetica, sans-serif;
}


/* 20060328 - franciscom - I must to comment this better later :( */
span.type1 {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		110%;
	margin-bottom:	4px;
	padding: 		2px;
	text-align: 	left;
}


/* 20060819 - franciscom */
/* ----------------------------------------------------------------------------- */
/* Execution & Results */
div.passed {
	color: 			white;
	background:		green;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.failed {
	color: 			white;
	background:		red;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.blocked {
	color: 			white;
	background:		blue;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.not_run {
	color: 			white;
	background:		black;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.exec_history {
	background:		white;
	padding: 		0px 3px 0px 3px;
}

/* 20060819 - franciscom */
.label {
	font-weight:    bold;
}

/* 20070204 - franciscom */
.warning_message {
background-color:#059;
color:white; 
}

.login_warning_message {
background-color:#059;
color:white; 
}


/* 20070204 - franciscom */
.red_alert {
background-color:#990000;
color:white; 
}


/* 20060820 - franciscom - moved here from tl_login.css */
div.title {
	text-align: center;
	width: 100%;
	background: #CCDDEE;
	margin: 0px; 
	padding-bottom: 5px;
	padding-top: 5px;
	font-stretch: expanded;
	font-weight : bold;
	font-variant : small-caps;
	letter-spacing: 5px;
}

/* For the HTML forms */
div.forms {
	text-align: left;
	margin: 20%;
	margin-top: 20px;
	background: #CCDDEE;
	padding: 25px; 
	border: 1px;
}

p.title  {
	text-align: center;
	width: 100%;
	font-weight : bold;
}

.time_stamp_creation  {
	font-style: 	italic;
}

.time_stamp_last_change  {
	font-style: 	italic;
}


div.show_hide_title {
	font-weight : bold;
}

div.exec_history_title {
	font-weight : bold;
}

div.notes{
	background: 	#FFC;
	border: 		1px solid black;
	color: 			black;
	margin: 		1px;
	padding: 		1px;
	width: 100%;
}

td.checkbox_cell{
	width: 1px;
}

td.tcase_id_cell{
	width: 25px;
}

div.test_exec,table.test_exec {
	background: 	#FFC;
	border: 		thin dashed black;
	color: 			black;
	padding: 		12px;
	width: 100%;
}

/* 
20061112 - franciscom - to manage status
*/   
.passed {
	color: 			white;
	background:		green;
}

.failed {
	color: 			white;
	background:		red;
}

.blocked {
	color: 			white;
	background:		blue;
}

.not_run {
	color: 			white;
	background:		black;
}

.not_available {
	color: 			black;
	background:		yellow;
}

.unknown {
	color: 			black;
	background:		cyan;
}


/* 20061230 - franciscom */
.labelHolder {
	font-weight: bold;
}

.legend_container {
	font-weight: bold;
}

.custom_field_container {
  border: thin solid white;
  padding: 5px;
}

.option_transfer_container {
  border: thin solid white;
  padding: 5px;
}


table.srs_view td {
	border: 		1px solid black;
}

/* 20070203 - franciscom */
.xx {
	background:		#059;
	color:			white;
	font-weight:    bold;
	padding: 		2px 12px 2px 5px;
	margin:			5px 0px 0px 0px;
}

.yy {
	background:		red;
	color:			white;
	font-weight:    bold;
	padding: 		2px 2px 2px 0px;
	margin:			5px 0px 0px 0px;
}

/* ----------------------------------------------------------------------------- */