html {
	height:100%;
	width:100%;
	margin:0px;
} 

body {
  height:100%;
  width:100%;
  margin:0px;
} 

body.no-scroll {
  height:100%;
  width:100%;
  margin:0px;
  overflow:hidden;
  background-color: #000;
} 

iframe.navigationBar {
  width:100%;
  height:10%;
  border:0;
}

iframe.siteContent {
  width:100%;
  height:90%;
  border:0;
}

iframe.mainFrame {
	width:100%;
	height:100%;
  overflow:hidden;
}