/*
D:\w3\tl\head_20080119\gui\themes\theme_m2\css\
TestLink Open Source Project - http://testlink.sourceforge.net/
$Id: testlink.css,v 1.2 2008/04/25 22:10:53 schlundus Exp $
Purpose: main css - theme m2

20080130 - franciscom - BUGID 1340 - contribution - remove bold on a:hover
20080127 - franciscom - need to clone some classes to avoid problems due to ext-js css.
20071227 - franciscom - input.tl-input
20070915 - franciscom - exec_test_spec
20070826 - franciscom - exec_tc_title, split of div.test_exec and table.test_exec

20070401 - franciscom -  added padding to:
                        .login_warning_message, .warning_message
20070311 - franciscom - corrected path to navbar.gif
20070224 - franciscom - added div.user_feedback

20060819 - franciscom - minor adjustemnts
                        changes in class names
                        div.menu -> div.menu_bar


IMPORTANT:
NiftyCube rounding package has problems with I.E. 6 if background color is
assigned using name (example: white) instead of code (example: #FFF)

*/
body {
	background:  #EEE; /*#9BD;*/
	font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: small;
  margin:			0px;
}

body.testlink {
	background:  #EEE; /*#9BD;*/
	font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: small;
  margin:			0px;
}


img {
	border: 		none;
}

/* ----------------------------------------------------------------- */
/*    Title + Menu bar                                               */
div.menu_title {
	font-stretch:	wider;
	padding:		1px;
}

div.menu_bar {
	background: 	#CDE;
	background-image: url(../images/navbar.gif);
	border-style:	groove;
	border-width:	thin;
	padding: 		1px 5px;
}

select.menu_combo {
	background: 	#EEE;
	border-style:	none;
	font-size:	 	smaller;
	font-weight:    bold;
}
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/*    main page                                                      */
div.vertical_menu {
	background: #EEE;
	font-size:      90%;
	margin: 		3px;
	padding: 		2px;
	padding-bottom:	1px;
	width:			26%;
}

div.vertical_menu h2 {
	background:     #FFC;
	border-style:	none;
	color:			black;
	font-weight:    bold;
}


div.vertical_menu a {
	font-weight:    normal;
}

div.testproject_title{
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		110%;
	padding: 		2px;
}


/***** main page table *****/
table.mainTable{
	background: 	#EEE;
	border: 		1px double black;
	min-width:		200px;
}

table.mainTable td th {
	border: 		thin dotted black;
}

table.mainTable th {
	background:     #FFFFCC;
}

table.link_and_exec {
	background:     #EEE;
	border: 		1px solid black;
	margin-bottom:	10px;
	margin-right:	0px;
}


table.link_and_exec th {
	background:     #CCC;
}


/***** general styles **************************************/

/* this is obsolete - use <h1> instead of this */
div.pagetitle {
	background:		#059;
	color:			white;
	font-size:		85%;
	font-weight:    bold;
	padding: 		2px 2px 2px 5px;
	margin:			5px 0px 0px 0px;
}

/* background for working area (tables and forms) */
div.workBack {
	text-align: 	left;
	margin: 		3px 3px 3px 3px;
	background: 	#CDE;
	padding: 		5px 5px 5px 5px;
	border-style:	groove;
	border-width:	thin;
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

/* for tree menu */
div.tree {
	background: 	#EEE;
	padding: 		3px;
	border: 		1px solid grey;
	margin:			2px;
	overflow: auto; /* BUGID: SF1243287 */
}

h1 {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		85%;
	margin-bottom:	4px;
	padding: 		2px;
	text-align: 	left;
}

/* To avoid problems with ext js css */
h1.title {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		85%;
	margin-bottom:	4px;
	padding: 		2px;
	text-align: 	left;
}

h2 {
	font-size:		80%;
}

h3.testlink {
	margin-bottom:	2px;
	padding: 		2px;
}



div.groupBtn {
/*	border-bottom: 1px solid grey; */
	padding:		0px;
}

/*
div.groupBtn input {
	background:		#059;
	color:			white;
	font-weight:    bold;
	font-size:		85%;
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, sans-serif;

	padding:		2px 11px;
	margin:			2px 5px;
}
*/

/* show results of SQL actions or important information for user */
div.error, .info {
	font-size:		110%;
	text-align:		center;
	color:			red;
	font-weight:    bold;
	padding: 		2px;
}

/* 20061229 - franciscom */
div.warning_soft
{
	text-align:		center;
	background-color: white;
	color:			red;
	font-weight:    bold;
	padding: 		2px;
}


div.user_feedback{
	font-size:		110%;
	text-align:		center;
	color:			black;
	font-weight:    bold;
	padding: 		2px;
}



.title {
	font-weight:    bold;
	font-size:		85%;
}

.bold {
	font-weight:    bold;
}

.italic {
	font-style: 	italic;
}

.onright {
	float: 	right;
}

/***** links to help files **************************/
img.help {
	vertical-align: top;
	float:			right;
}

/* This allows link help from text e.g. instruction
 * Using: <span class="help" onclick="javascript:open_popup('../help/glosary.html#testspec');">Test Specification</span>
 */
span.help
{
	cursor: 		help;
	text-decoration: underline;
}

/***** Links **************************************/

/* A Visited link is still blue */
a:visited, a:link, a:active {
	color: 			#059;
	text-decoration: none;
}
/* A link being hovered over is red*/
a:hover   {
	color: 			#900;
	text-decoration: none;
}


/***** tabbed menu ***********************************/
/* add under h1 tag */

div.tabMenu {
	margin-top:		0px;
	padding:		0px 30px 10px 30px;
}

span.selected, span.unselected {
	border: 		1px solid black;
	border-top-style: none;
	font-weight:    bold;
	padding: 		5px;
}

span.selected {
	background:		#059;
	color:			white;
}

span.unselected:hover {
	background:		#BCD;
}

span.unselected a, span.unselected a:visited {
	color:    		black;
}


/***** Tables *****************************************
*
* Standard table classes:
*
* "common" - view tables
* "simple" - forms
* "smallGrey" - options / filters
* "invisible" - no borders
*/

/* Common */
table.common {
	background:     #EEE;
	border: 		1px solid black;
	margin-bottom:	20px;
	min-width:		50%;
}

table.common th, table.simple th{
  overflow:hidden;
  zoom:1;
  color:#15428b;
  font:bold 11px tahoma,arial,verdana,sans-serif;
  padding:5px 3px 4px 5px;
  border:1px solid #99bbe8;
  line-height:15px;
  background:transparent url(../images/white-top-bottom.gif) repeat-x 0 -1px;
}

table.common td, table.simple td, th{
	vertical-align: top;
}

table.common caption, table.smallGrey caption {
	background:     #CCC;
	border: 		1px solid black;
	border-bottom-style: none;
	font-weight:    bold;
}

/* Simple */
table.simple {
	background:     #EEE;
	border: 		thin solid black;
	font-size:		90%;
	margin:			20px;
	width:			90%;
}

table.simple caption {
	background:     #CCC;
	border: 		thin solid black;
	border-bottom-style: none;
	font-weight:    bold;
}


/* Used for filters and options settings */
table.smallGrey {
	background:     #EEE;
	border: 		1px solid black;
	font-size:		smaller;
	margin-bottom:	10px;
	margin-right:	0px;
}


table.invisible {
	border: 		0px none;
	font-size:		90%;
	margin:			20px;
}


/* Execution History */
table.exec_history {
	background:     #EEE;
	border: 		thin solid black;
	font-size:		90%;
	margin:			20px;
	width:			95%;
}

table.exec_history th {
	background:     #CCC;
	border-bottom:	1px solid black;
	padding:		2px;
}


/***** Special button *****/
a.tlButton {
	background:		#CDE;
	border: 		2px outset grey;
	font-weight:    bold;
	padding:		2px;
	margin:			2px;
}

a.tlButton:hover {
	background:     #EEE;
}





/* execution boxes (result, test scenario, notes) */
div.resultBox {
	background: 	white;
	border: 		medium solid grey;
	color: 			black;
	margin: 		0px 12px 12px 12px;
	padding: 		12px;
}

textarea.tcDesc {
	background: 	white;
	border: 		medium solid grey;
}

div.notesBox,table.notesBox {
	background: 	#FFC;
	border: 		thin dashed black;
	color: 			black;
	margin: 		12px;
	padding: 		12px;
	width: 97%;
}

table.notesBox td
{
	vertical-align: top;
}

img.arrow {
	width: 			16px;
	height: 		9px;
}


pre
{
	font-family : 	Arial, Helvetica, sans-serif;
}


/* 20060328 - franciscom - I must to comment this better later :( */
span.type1 {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		110%;
	margin-bottom:	4px;
	padding: 		2px;
	text-align: 	left;
}


/* 20060819 - franciscom */
/* ----------------------------------------------------------------------------- */
/* Execution & Results */
div.passed {
	color: 			white;
	background:		green;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.failed {
	color: 			white;
	background:		red;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.blocked {
	color: 			white;
	background:		blue;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

div.not_run {
	color: 			white;
	background:		black;
	margin: 		8px;
	padding: 		6px;
	text-align: center;
}

/* 20070826 - franciscom */
div.exec_history {
	background:		#FFF;
	padding: 		0px 3px 0px 3px;
}

/* 20060819 - franciscom */
.label {
	font-weight:    bold;
}

.warning_message {
background-color:#059;
color:white;
padding:4px;
}

.login_warning_message {
background-color:#059;
color:white;
padding:4px;
}


/* 20070204 - franciscom */
.red_alert {
background-color:#990000;
color:white;
}


/* 20060820 - franciscom - moved here from tl_login.css */
div.title {
	text-align: center;
	width: 100%;
	background: #CCDDEE;
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-stretch: expanded;
	font-weight : bold;
	font-variant : small-caps;
	letter-spacing: 5px;
}

/* For the HTML forms */
div.forms {
	text-align: left;
	margin: 20%;
	margin-top: 20px;
	background: #CCDDEE;
	padding: 25px;
	border: 1px;
}

p.title  {
	text-align: center;
	width: 100%;
	font-weight : bold;
}

.time_stamp_creation  {
	font-style: 	italic;
}

.time_stamp_last_change  {
	font-style: 	italic;
}


div.show_hide_title {
	font-weight : bold;
}

/* 20070826 - added padding to allow good effect with Nifty */
div.exec_history_title {
	font-weight : bold;
	padding: 		2px;
}

div.notes{
	background: 	whitesmoke;
	border: 		1px solid black;
	color: 			black;
	margin: 		1px;
	padding: 		1px;
	width: 100%;
}

td.checkbox_cell{
	width: 1px;
}

td.tcase_id_cell{
	width: 25px;
}

div.test_exec {
	background: 	#FFC;
	border: 		thin dashed black;
	color: 			black;
	padding: 		12px;
	width: 100%;
}

div.exec_test_spec {
	background: 	#FFC;
	color: 			black;
	padding: 		12px;
}


table.test_exec {
	background: 	#FFC;
	color: 			black;
	padding: 		12px;
	width: 100%;
}


/*
20061112 - franciscom - to manage status
*/
.passed {
	color: 			white;
	background:		green;
}

.failed {
	color: 			white;
	background:		red;
}

.blocked {
	color: 			white;
	background:		blue;
}

.not_run {
	color: 			white;
	background:		black;
}

.not_available {
	color: 			black;
	background:		yellow;
}

.unknown {
	color: 			black;
	background:		cyan;
}


/* 20061230 - franciscom */
.labelHolder {
	font-weight: bold;
}

.legend_container {
	font-weight: bold;
}

.custom_field_container {
  border: thin solid white;
  padding: 5px;
}

.option_transfer_container {
  border: thin solid white;
  padding: 5px;
}


table.srs_view td {
	border: 		1px solid black;
}

/* 20070203 - franciscom */
.xx {
	background:		#059;
	color:			white;
	font-weight:    bold;
	padding: 		2px 12px 2px 5px;
	margin:			5px 0px 0px 0px;
}

.yy {
	background:		red;
	color:			white;
	font-weight:    bold;
	padding: 		2px 2px 2px 0px;
	margin:			5px 0px 0px 0px;
}

/* 20070523 */
div.menu_bubble {
  background:#c8dce8;
  padding:2px;
}

div.menu_bubble h3{
  margin: 0px 0px 8px 8px;
  /* border-bottom: 1px solid #005498; */
}


.clickable_icon
{
  padding: 2px;
  width: 5px;
  text-align: center;
  vertical-align: center;
}

.icon_cell
{
  width: 5px;
  text-align: center;
  vertical-align: center;
}


.hint
{
	font-style: 	italic;
}

.exec_tc_title {
	background:		#059;
	color:			white;
	margin-bottom:	4px;
	padding: 		3px;
	text-align: 	left;
}

.exec_additional_info{
	background-color: 	#F0F4F0; // whitesmoke=F0F4F0, #FFC
	color: 			black;
	margin: 		0px 0px 10px 0px;
	padding: 		0px 0px 0px 10px;
	width: 98%;
}

.exec_testsuite_details {
  border: thin solid black;
  padding: 5px;
}


/* 20071227 - franciscom - to avoid problems
   with third party css
*/
input.tl-input{
  margin:2px;
  padding:2px;
}

table.mainTable-x th {
  overflow:hidden;
  zoom:1;
  color:#15428b;
  font:bold 11px tahoma,arial,verdana,sans-serif;
  padding:5px 3px 4px 5px;
  border:1px solid #99bbe8;
  line-height:15px;
  background:transparent url(../images/white-top-bottom.gif) repeat-x 0 -1px;
}

/* 20080127 - franciscom - to avoid problem with ext-js css */
th.testlink {
  padding: 1px;
  marging: 1px;
}

tr.testlink td {
  padding: 1px;
  marging: 1px;
}

td.testlink {
  padding: 1px;
  marging: 1px;
}

.clickable
{
	cursor:hand;
	cursor:pointer;
}

/* ----------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- */
/* Taken from ext js 2.0, and adapted                                            */
.x-tl-panel{border-style:solid;border-color:#99bbe8;border-width:0;}
.x-tl-panel-header{overflow:hidden;zoom:1;color:#15428b;font:bold 11px tahoma,arial,verdana,sans-serif;
                   padding:2px 1px 1px 2px;border:1px solid #99bbe8;line-height:15px;
                   background:transparent url(../images/white-top-bottom.gif) repeat-x 0 -1px;}
.x-tl-panel-body{border:1px solid #99bbe8;border-top:0 none;overflow:hidden;background:white;}
.x-tl-panel-bbar {border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}
.x-tl-panel-tbar {border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}
.x-tl-panel-tbar-noheader .x-toolbar,.x-tl-panel-mc .x-tl-panel-tbar .x-toolbar{border-top:1px solid #99bbe8;
                                                                          border-bottom:0 none;}
.x-tl-panel-body-noheader,.x-tl-panel-mc .x-tl-panel-body{border-top:1px solid #99bbe8;}
.x-tl-panel-header{overflow:hidden;zoom:1;}
.x-tl-panel-tl .x-tl-panel-header{color:#15428b;font:bold 11px tahoma,arial,verdana,sans-serif;
                               padding:5px 0 4px 0;border:0 none;background:transparent;}
.x-tl-panel-tl .x-tl-panel-icon,.x-window-tl .x-tl-panel-icon{padding-left:20px!important;background-repeat:no-repeat;
                                                        background-position:0 4px;zoom:1;}
.x-tl-panel-inline-icon{width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;
                        vertical-align:middle;margin-right:4px;margin-top:-1px;margin-bottom:-1px;}
.x-tl-panel-tc{background:transparent url(../images/top-bottom.gif) repeat-x 0 0;overflow:hidden;}
.x-tl-panel-tl{background:transparent url(../images/corners-sprite.gif) no-repeat 0 0;
               padding-left:6px;zoom:1;border-bottom:1px solid #99bbe8;}
.x-tl-panel-tr{background:transparent url(../images/corners-sprite.gif) no-repeat right 0;
               zoom:1;padding-right:6px;}
.x-tl-panel-bc{background:transparent url(../images/top-bottom.gif) repeat-x 0 bottom;zoom:1;}
.x-tl-panel-bc .x-tl-panel-footer{zoom:1;}
.x-tl-panel-bl{background:transparent url(../images/corners-sprite.gif) no-repeat 0 bottom;
               padding-left:6px;zoom:1;}
.x-tl-panel-br{background:transparent url(../images/corners-sprite.gif) no-repeat right bottom;
               padding-right:6px;zoom:1;}
.x-tl-panel-mc{border:0 none;padding:0;margin:0;font:normal 11px tahoma,arial,helvetica,sans-serif;
               padding-top:6px;background:#dfe8f6;}
.x-tl-panel-mc .x-tl-panel-body{background:transparent;border:0 none;}
.x-tl-panel-ml{background:#fff url(../images/left-right.gif) repeat-y 0 0;padding-left:6px;zoom:1;}
.x-tl-panel-mr{background:transparent url(../images/left-right.gif) repeat-y right 0;
               padding-right:6px;zoom:1;}
.x-tl-panel-bc .x-tl-panel-footer{padding-bottom:6px;}
.x-tl-panel-nofooter .x-tl-panel-bc{height:6px;font-size:0;line-height:0;}
.x-tl-panel-bwrap{overflow:hidden;zoom:1;}
.x-tl-panel-body{overflow:hidden;zoom:1;}
.x-tl-panel-collapsed .x-resizable-handle{display:none;}
/* ----------------------------------------------------------------------------- */
