/*
TestLink Open Source Project - http://testlink.sourceforge.net/
$Id: testlink.css,v 1.18 2009/02/24 13:45:01 havlat Exp $

Purpose: Default TestLink CSS

20080517 - franciscom - auto width in simple table creates an ugly effect
                        on test suite and test case view, on test spec feature.
                        Reset to original class.
                        
                        Another choice:
                                       Create a new class for the tables use for:
                                       test suite and test case view.

20080721 - havlatm - removed red_alert, warning_soft, warning_message-> messages,
					div.notesBox, table.notesBox
20080502 - havlatm - remove invalid attributes, refactorization (valid standard CSS 2.1)
20080130 - franciscom - BUGID 1340 - contribution - remove bold on a:hover
20080127 - franciscom - need to clone some classes to avoid problems due to ext-js css.
20071227 - franciscom - input.tl-input
20070915 - franciscom - exec_test_spec
20070826 - franciscom - exec_tc_title, split of div.test_exec and table.test_exec
20070401 - franciscom -  added padding to: .login_warning_message, .warning_message
20070311 - franciscom - corrected path to navbar.gif
20070224 - franciscom - added div.user_feedback
20060819 - franciscom - minor adjustemnts, changes in class names, div.menu -> div.menu_bar

IMPORTANT:
NiftyCube rounding package has problems with I.E. 6 if background color is
assigned using name (example: white) instead of code (example: #FFF)

-------------------------------------------------------------------------------------- */

/* ***** GLOBAL HTML ***************************************************************** */
body, body.testlink {
	background:  	#EEE; 
	font-family: 	'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: 		small;
	margin:			0px;
	padding:		0px;
}

img {
	border: 		none;
}

pre
{
	font-family : 	Arial, Helvetica, sans-serif;
}

span, div {
	margin: 		0px;
	padding:		0px;
}

/* h1.title - To avoid problems with ext js css */
/* 20080529 - franciscom - font-size reduced */
h1, h1.title {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	margin:			0px 0px 4px 0px;
	padding: 		3px;
	text-align: 	left;
	font-size:		85%;
	font-weight:    bold;
}


h2 {
	font-size:		110%;
	font-weight:    bold;
}

h3, h3.testlink {
	font-size:		105%;
	margin-bottom:	2px;
	padding: 		2px;
}

form
{
	margin: 		0px;
	padding: 		0px;
} 

/* ***** Links ***** */
/* A Visited link is still blue */
a:visited, a:link, a:active {
	color: 			#059;
	text-decoration: none;
}
/* A link being hovered over is red*/
a:hover   {
	color: 			#900;
	text-decoration: none;
}


/* ***** Menu bar specific ******************************************* */
div.menu_title {
	margin-left:	135px;
	padding:		3px;
}

div.menu_bar {
	background: 	#CDE;
	background-image: url(../images/navbar.gif);
	border-style:	groove;
	border-width:	thin;
	padding: 		1px 5px;
	margin:			0px 3px;
}

select.menu_combo {
	background: 	#EEE;
	border-style:	none;
	font-size:	 	smaller;
	font-weight:    bold;
}


/* ***** Main page specific ***************************************** */

div.testproject_title{
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		110%;
	padding: 		2px;
}



/* **** general classes ************************************* */

/* background for working area (tables and forms) */
div.workBack {
	text-align: 	left;
	margin: 		3px;
	background: 	#CDE;
	padding: 		3px 3px 50px 3px;
	border-style:	groove;
	border-width:	thin;
}

/* .label is used to magnify label for active objects */
.bold, .label {
	font-weight:    bold;
}

.italic {
	font-style: 	italic;
}

.onright {
	float: 	right;
}


/* **** Navigation, menu and buttons ************************************* */

/* for tree menu */
div.tree {
	background: 	#EEE;
	padding: 		3px;
	border: 		1px solid #808080;
	margin:			3px;
	overflow: 		auto; /* BUGID: SF1243287 */
}

div.groupBtn {
	padding:		5px;
}

div.vertical_menu {
	background: 	#EEE;
	font-size:      90%;
	margin: 		3px;
	padding: 		2px;
	padding-bottom:	1px;
	width:			250px;
}

div.vertical_menu h2 {
	background:     #FFC;
	border-style:	none;
	color:			black;
	font-weight:    bold;
}

div.vertical_menu a {
	font-weight:    normal;
}

div.menu_bubble {
  background:		#c8dce8;
  padding:			3px;
}

div.menu_bubble h3{
	margin: 0px 0px 8px 8px;
	line-height:1.4em;
}



/* ***** Help ***************************************************************************
 * This allows link help from text e.g. instruction
 * Using: <span class="help" onclick="javascript:open_popup('../help/glosary.html#testspec');">
 * 			Test Specification</span>
 */
img.help {
	vertical-align: top;
	float:			right;
}
span.help
{
	cursor: 		help;
	text-decoration: underline;
}

#tlhelp {
	position: 		absolute; 
	z-index:		100; 
	padding:		5px; 
	right:			50px; 
	top:			50px; 
	width: 			300px; 
	height:			auto;
	background: 	#059;
	color:			white;
	font-size:		80%; 
	border: 		medium solid #808080;
}



/* ***** Messages ******************************************************* */
/* show results of SQL actions or important information for user */
.error, .info, .warning, div.user_feedback {
	font-size:		110%;
	text-align:		center;
	font-weight:    bold;
	padding: 		3px;
}

.tab-error, .tab-warning, .tab-success{
	text-align:		left;
	font-weight:    bold;
}


.error, .tab-error {
	color:			#B22222; /* firebrick (red) */
}

.warning, .tab-warning {
	color:			#FF6600; /* safety orange */
}

.success, .tab-success {
	color:			#006400; /* darkgreen */
}

.info, div.user_feedback{
	color:			black;
}

div.messages {
	background-color:	#059;
	color:				white;
	margin: 			3px;
	padding:			3px;
}

/* TODO havlatm: consider to remove (used only in probably obsolete show_exec_notes.tpl) */
textarea.tcDesc {
	background: 	white;
	border: 		medium solid #808080;
}


/***** tabbed menu ******************************************************************* */
/* TODO havlatm: remove tabbed menu to be compliant with other design */
/* add under h1 tag */

div.tabMenu {
	margin-top:		0px;
	padding:		0px 30px 10px 30px;
}

span.selected, span.unselected {
	border: 		1px solid black;
	border-top-style: none;
	font-weight:    bold;
	padding: 		5px;
}

span.selected {
	background:		#059;
	color:			white;
}

span.unselected:hover {
	background:		#BCD;
}

span.unselected a, span.unselected a:visited {
	color:    		black;
}



/***** Tables ***************************************************************************
*
* Standard table classes:
*
* "common" 		- often used for view arrays
* "simple" 		- often used for forms
* "smallGrey" 	- often used for options / filters
* "invisible" 	- no borders
* !!! Do not add new table kinds !!! (there is bunch of wild table definitions below)
*/

/* ***** Common ********************* */
table.common {
	background:     #EEE;
	border: 		1px solid black;
	margin-bottom:	20px;
	min-width:		50%;
}

table.common th, table.simple th{
  	overflow:		hidden;
  	color:			#15428b;
  	font:			bold 11px tahoma,arial,verdana,sans-serif;
  	padding:		5px 3px 4px 5px;
  	border:			1px solid #99bbe8;
  	line-height:	15px;
  	background:		transparent url(../images/white-top-bottom.gif) repeat-x 0 -1px;
}

table.common td, table.simple td, th{
	vertical-align: top;
}

table.common caption, table.smallGrey caption {
	background:     #CCC;
	border: 		1px solid black;
	border-bottom-style: none;
	font-weight:    bold;
}


/* ***** Simple Table (often used to show data) ***************** */
table.simple {
	background:     #EEE;
	border: 		thin solid black;
	font-size:		90%;
	margin:			5px;
	width:			90%;
}

table.simple caption {
	background:     #CCC;
	border: 		thin solid black;
	border-bottom-style: none;
	font-weight:    bold;
}


/* Used for filters and options settings */
table.smallGrey {
	background:     #EEE;
	border: 		1px solid black;
	font-size:		smaller;
	margin-bottom:	10px;
	margin-right:	0px;
}


table.invisible {
	border: 		0px none;
	font-size:		90%;
	margin:			5px 0px;
	width:			auto;
}

table.mainTable{
	background: 	#EEE;
	border: 		1px double black;
	min-width:		200px;
}

table.mainTable td th {
	border: 		thin dotted black;
}

table.mainTable th {
	background:     #FFC;
}

table.link_and_exec {
	background:     #EEE;
	border: 		1px solid black;
	margin-bottom:	10px;
	margin-right:	0px;
}

table.link_and_exec th {
	background:     #CCC;
}

/* *****  Table Execution History ********* */
table.exec_history {
	background:     #EEE;
	border: 		thin solid black;
	font-size:		90%;
	margin:			20px;
	width:			95%;
}

table.exec_history th {
	background:     #CCC;
	border-bottom:	1px solid black;
	padding:		2px;
}


/* >>>> Martin: @TODO REMOVE! do not use tables to structure page <<<<<<< */
table.notesBox td
{
	vertical-align: top;
}
td.checkbox_cell{
	width: 			1px;
}
td.tcase_id_cell{
	width: 			25px;
}
table.srs_view td {
	border: 		1px solid black;
}

table.test_exec {
	background: 	#FFC;
	color: 			black;
	padding: 		12px;
	width: 			100%;
}



/* ***** Execution & Results ********************************************************* */
div.passed, div.failed, div.blocked, div.not_run {
	color: 			white;
	margin: 		8px;
	padding: 		6px;
	text-align: 	center;
}

div.passed {
	background:		#006400; /* darkgreen */
}

div.failed {
	background:		#B22222; /* firebrick (red) */
}

div.blocked {
	background:		#00008B; /* darkblue */
}

div.not_run {
	background:		black;
}


/* ***** execution tree coloring ************************* */
span.light_passed, span.light_failed, span.light_blocked,
span.light_not_run, span.light_not_available, span.light_unknown
{
	color:				black;
	padding:			3px;
}


span.light_passed {
	background:			#D5EED5; /* green */
}

span.light_failed {
	background: 		#EED5D5; /* red */
}

span.light_blocked {
	background: 		#D5D5EE; /* blue */
}

span.light_not_run {
	background: 		#E8E8E8; /* grey */
}

span.light_not_available {
	background: 		#F8EEDD; /* yellow */
}

span.light_unknown {
	background: 		#DDFFFF; /* cyan; */
}

/* ***** render test result status ************************* */
.passed {
	color: 			white;
	background:		#006400; /* darkgreen */
}

.failed {
	color: 			white;
	background:		#B22222; /* firebrick (red) */
}

.blocked {
	color: 			white;
	background:		#00008B; /* darkblue */
}

.not_run {
	color: 			white;
	background:		black;
}

.not_available {
	color: 			black;
	background:		#DAA520; /* goldenyellow */
}

.unknown {
	color: 			black;
	background:		#00FFFF; /* cyan; */
}



/* ***** MISC ************************************************************************ */
/* Please, be carefull to be consistent if you add a new definition */

/* execution boxes (result, test scenario, notes) */
div.resultBox {
	background: 	white;
	border: 		medium solid #808080;
	color: 			black;
	margin: 		0px 12px 12px 12px;
	padding: 		12px;
}

img.arrow {
	width: 			16px;
	height: 		9px;
}

/* 20070826 - franciscom */
div.exec_history {
	background:		#FFF;
	padding: 		0px 3px;
}

/* 20060328 - franciscom - I must to comment this better later :( */
span.type1 {
	background:		#059;
	border: 		1px solid black;
	color:			white;
	font-size:		110%;
	margin-bottom:	4px;
	padding: 		2px;
	text-align: 	left;
}

/* 20060820 - franciscom - moved here from tl_login.css */
/* used as title in login pages */
div.fullpage_head {
	text-align: 	center;
	width: 			100%;
	background: 	#CDE;
	margin: 		0px;
	padding: 		5px 0px;
	font-weight : 	bold;
	font-variant : 	small-caps;
	letter-spacing: 5px;
}

/* For the HTML forms */
div.forms {
	text-align: 	left;
	margin: 		20%;
	margin-top: 	20px;
	background: 	#CDE;
	padding: 		25px;
	border: 		1px;
}

/* Martin: @TODO clean-up required */
.hint, .time_stamp_creation, .time_stamp_last_change  {
	font-style: 	italic;
}

/* Martin: @TODO clean-up required ; use .label */
.legend_container, .labelHolder, div.show_hide_title {
	font-weight: bold;
}

/* 20070826 - added padding to allow good effect with Nifty */
div.exec_history_title {
	font-weight:	bold;
	padding: 		2px;
}

div.notes{
	background: 	#F5F5F5; 	/* whitesmoke */
	border: 		1px solid black;
	color: 			black;
	margin: 		1px;
	padding: 		1px;
	width: 			100%;
}

div.test_exec {
	background: 	#FFC;
	border: 		thin dashed black;
	color: 			black;
	padding: 		12px;
	width: 			100%;
}

div.exec_test_spec {
	background: 	#FFC;
	color: 			black;
	padding: 		12px;
}

.custom_field_container {
  border: thin solid white;
  padding: 5px;
}

.option_transfer_container {
  border: thin solid white;
  padding: 5px;
}


.clickable_icon
{
  padding: 			2px;
  width: 			5px;
  text-align: 		center;
  vertical-align: 	middle;
}

.icon_cell
{
  width: 			5px;
  text-align: 		center;
  vertical-align: 	middle;
}

/* havlatm: @TODO title must be header markup */
.exec_tc_title {
	background:		#059;
	color:			white;
	margin-bottom:	4px;
	padding: 		3px;
	text-align: 	left;
}

.exec_additional_info{
	background-color: 	#F0F4F0; /* whitesmoke=F0F4F0, #FFC*/
	color: 			black;
	margin-bottom:	10px;
	padding-left:	10px;
	width: 			98%;
}

.exec_testsuite_details {
  border: 			thin solid black;
  padding: 			5px;
}


/* 20071227 - franciscom - to avoid problems
   with third party css
*/
input.tl-input{
  margin:2px;
  padding:2px;
}

table.mainTable-x th {
  overflow:hidden;
  color:#15428b;
  font:bold 11px tahoma,arial,verdana,sans-serif;
  padding:5px 3px 4px 5px;
  border:1px solid #99bbe8;
  line-height:15px;
  background:transparent url(../images/white-top-bottom.gif) repeat-x 0 -1px;
}

/* 20080127 - franciscom - to avoid problem with ext-js css */
th.testlink, td.testlink, tr.testlink td {
  padding: 1px;
  margin: 1px;
}

.clickable
{
	cursor:pointer;
}


/* *********************************************************************************** */
/* Taken from ext js 2.0, and adapted */

.x-tl-panel{border-style:solid;border-color:#99bbe8;border-width:0;}
.x-tl-panel-header{overflow:hidden;color:#15428b;font:bold 11px tahoma,arial,verdana,sans-serif;
                   padding:2px 1px 1px 2px;border:1px solid #99bbe8;line-height:15px;
                   background:transparent url(../images/white-top-bottom.gif) repeat-x 0 -1px;}
.x-tl-panel-body{border:1px solid #99bbe8;border-top:0 none;overflow:hidden;background:white;}
.x-tl-panel-bbar {border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}
.x-tl-panel-tbar {border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}
.x-tl-panel-tbar-noheader .x-toolbar,.x-tl-panel-mc .x-tl-panel-tbar .x-toolbar{border-top:1px solid #99bbe8;
                                                                          border-bottom:0 none;}
.x-tl-panel-body-noheader,.x-tl-panel-mc .x-tl-panel-body{border-top:1px solid #99bbe8;}
.x-tl-panel-header{overflow:hidden;}
.x-tl-panel-tl .x-tl-panel-header{color:#15428b;font:bold 11px tahoma,arial,verdana,sans-serif;
                               padding:5px 0 4px 0;border:0 none;background:transparent;}
.x-tl-panel-tl .x-tl-panel-icon,.x-window-tl .x-tl-panel-icon{padding-left:20px!important;background-repeat:no-repeat;
                                                        background-position:0 4px;}
.x-tl-panel-inline-icon{width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;
                        vertical-align:middle;margin-right:4px;margin-top:-1px;margin-bottom:-1px;}
.x-tl-panel-tc{background:transparent url(../images/top-bottom.gif) repeat-x 0 0;overflow:hidden;}
.x-tl-panel-tl{background:transparent url(../images/corners-sprite.gif) no-repeat 0 0;
               padding-left:6px;border-bottom:1px solid #99bbe8;}
.x-tl-panel-tr{background:transparent url(../images/corners-sprite.gif) no-repeat right 0;
               padding-right:6px;}
.x-tl-panel-bc{background:transparent url(../images/top-bottom.gif) repeat-x 0 bottom;}
.x-tl-panel-bl{background:transparent url(../images/corners-sprite.gif) no-repeat 0 bottom;
               padding-left:6px;}
.x-tl-panel-br{background:transparent url(../images/corners-sprite.gif) no-repeat right bottom;
               padding-right:6px;}
.x-tl-panel-mc{border:0 none;padding:0;margin:0;font:normal 11px tahoma,arial,helvetica,sans-serif;
               padding-top:6px;background:#dfe8f6;}
.x-tl-panel-mc .x-tl-panel-body{background:transparent;border:0 none;}
.x-tl-panel-ml{background:#fff url(../images/left-right.gif) repeat-y 0 0;padding-left:6px;}
.x-tl-panel-mr{background:transparent url(../images/left-right.gif) repeat-y right 0;
               padding-right:6px;}
.x-tl-panel-bc .x-tl-panel-footer{padding-bottom:6px;}
.x-tl-panel-nofooter .x-tl-panel-bc{height:6px;font-size:0;line-height:0;}
.x-tl-panel-bwrap{overflow:hidden;}
.x-tl-panel-body{overflow:hidden;}
.x-tl-panel-collapsed .x-resizable-handle{display:none;}

/* ----- END ------------------------------------------------------------------------- */
