/***********************************************************************/
/* TestLink Open Source Project - http://testlink.sourceforge.net/     */
/* $Id: tl_documents.css,v 1.4 2009/03/29 17:31:29 franciscom Exp $        */
/* Purpose: Basic schema for print documentation css                   */
/* rev: 20090329 - franciscom - added style per printing custom fields */
/***********************************************************************/

body {
	font-family : 		Arial, Helvetica, sans-serif;
	font-size : 		12px;
	padding:			15px;
}

pre{
	font-family : 		Arial, Helvetica, sans-serif;
}

h1 {
	text-align: 		left;
	font-size:			120%;
	margin: 			50px 0px;
}

h2 {
	font-size:			110%;
	text-indent:		10px;
}

h3 {
	font-size:			105%;
	text-indent:		10px;
}

h4 {
	font-size:			105%;
	text-indent:		20px;
}


doclevel h1 {
	text-align: 		left;
	font-size:			130%;
	margin: 			50px 0px;
	border-bottom: 		1px solid grey; 
	page-break-before: 	always;
}

doclevel h2 {
	font-size:			120%;
	text-indent:		5px;
}

doclevel h3 {
	font-size:			110%;
	background: 		#CCC;
	text-indent:		10px;
}

doclevel h4 {
	font-size:			105%;
	text-indent:		15px;
}


p.important {
	font-size:			110%;
	color:				red;
	font-weight:    	bold;
}


table.tc, table.tc td, table.tc th {
	border: 			1px solid #DDD;
	border-collapse:	collapse;
	font-size:			11px;
	padding:			2px;
}

table.tc {
	margin:				5px 0px;
	width:				95%;
}

table.tc th {
	font-weight:    	bold;
	background:     	#EEE;
	text-align:			left;
}

div.pageheader {
	border-bottom: 		1px solid #DDD; 
	font-size: 			110%; 
	font-weight: 		bold;
	padding: 			5px; 
}

div.pagefooter {
	border: 			1px solid #DDD;
	font-size: 			90%; 
}

div.summary {
	margin-top:			400px;
}

div.doc_title {
	margin: 			100px 0px; 
	text-align: 		center; 
	font-size:			200%;
}

span.label {
	text-decoration:	underline;
}

/* A link is black */
a:visited, a:link, a:active {
	color: 				black; 
	text-decoration: 	none;
} 
/*A link being hovered over is red*/
a:hover   {
	color: 				#900; 
	text-decoration: 	none;
	font-weight:    	bold;
} 

/* For Custom Fields */
table.cf, table.cf td {
	border: 			1px solid #DDD;
	border-collapse:	collapse;
	font-size:			11px;
	padding:			2px;
}

td.labelHolder {
	font-weight:    	bold;
	background:     	#EEE;
	text-align:			left;
}
